body {
    background: black;
    padding: 150px;
 
}



h2 {
    font-family: 'Open Sans', sans-serif; color: rgb(255, 255, 255);
    
    text-align: left;
    width: 150px;
    margin: auto;
    line-height: 5;
  }
  
  
  
  .top-and-bottom, .left-and-right, .corner-border, .bottom-corner {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  
  }
  
  
  
  /* vertical line */
  .corner-border::after {
    content:'';
    position: absolute;
    background-color: red;
    width: 3px;
    height: 30px;
    top: 0;
    left:-15px;
   
  }
  
  /* horizontal line */
  .corner-border::before{
    content:'';
    position: absolute;
    background-color: red;
    width: 30px;
    height: 3px;
    top: px;
    left:-12px;
   
  }
  
  /* vertical line */
  .bottom-corner::after {
    content:'';
    position: absolute;
    background-color: red;
    width: 3px;
    height: 30px;
    bottom: 0;
    right:45px;
   
  }
  /* horizontal line */
  .bottom-corner::before {
    content:'';
    position: absolute;
    background-color: red;
    width: 30px;
    height: 3px;
    bottom: 0px;
    right:45px;
   
  }


  